@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
nav ul li a {
    color:#1A9988;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}
.white {
    color:#FFFFFF!important;
}
.hero {
    padding: 0 30px;
}
.heading1 {
    font-size: 38px;
}
.homeheading2 {
    font-size: 2.7em;
}
.homeheading3 {
    font-size: 2.3em;
}
.btnwhite:hover {
  background-color: #1eb4a0!important;
  color: #fff!important;
}
.transd {
    transform: translateY(110%);
}
.cards {
    width: 100%!important;
}

.jumbotron {
    border-radius: 0!important;
}
.ro {
    font-family: 'Roboto', sans-serif;
    
}
.ru {
    font-family: 'Rubik', sans-serif;
}
.p {
    font-size: 20px;
}
.pb {
    padding-bottom: 5em!important;
}
.fw1 {
    font-weight: 800;
}
.fw2 {
    font-weight: 700;
}
.fw3 {
    font-weight: 500;
    z-index: 99!important;
}
@media(max-width:768px){
    .fw3 {
        background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0.46) 0%, rgba(196, 196, 196, 0) 100%);
    }
}
.whitebtn {
    border-width: 2px;
    border-radius: 0px;
    font-size: 2em;
}

.whitebtn2 {
    font-size: 2em;
}
.bo-g {
    border: 4px solid #1A9988;
    border-radius: 25px;
    margin-top: 1em;
    width: 100%;
}
.sicon {
    cursor: pointer;
}
.sicon:hover,.sicon:focus {
  transform: scale(1.1);
}

.hero-h {
    font-size: 4em;
}
.hero-h2 {
    font-size: 3em;
}
.hero-p {
    font-size: 27px;
    line-height: 1.3em;
    font-weight: 500;
}


.hero-p2 {
    font-size: 24px;
    line-height: 1.3em;
    font-weight: 500!important;
}
.cardHover  {
    cursor: pointer;
}
.enroll {
    transition: all 0.3s ease-in-out;
    margin-top: 1em;
}
.enroll:hover {
    background:rgba(95, 95, 95, 0.658);
}
.cardHover:hover {
  background-color: #fff!important;
}
.green {
    color:#1A9988;
}
.black {
    color:#030303;
}
.c {
    width: 100%;
    height: 70vh;
}
@media(max-width:768px){
    .hero-h {
        font-size: 2.5em;
    }
    .hero-h2 {
        font-size: 2em;
    }
    .hero-p {
        font-size: 1em;
    }
    .hero-p2 {
        font-size: 1em;
    }
    p {
        font-size: 1em;
    }
    .homeheading2 {
        font-size: 2.3em;
    }
    .homeheading3 {
        font-size: 2.1em;
    }
    .mywidth {
        width: 100%!important;
        margin-bottom: 2em!important;
    }
}
.mywidth {
    margin-bottom: 2em!important;
}

@media(max-width:1000px){
    .hero-h {
        font-size: 3.3em;
    }
    .hero-h2 {
        font-size: 2.8em;
    }
    .hero-p {
        font-size: 1.4em;
    }
    .hero-p2 {
        font-size: 1.4em;
    }
    p {
        font-size: 1em;
    }
    .homeheading2 {
        font-size: 2.3em;
    }
    .homeheading3 {
        font-size: 2em;
    }
}
@media(max-width:400px){
    .hero-h {
        font-size: 2.5em;
    }
    .hero-h2 {
        font-size: 2em;
    }
    .hero-p {
        font-size: 1.1em;
    }
    .hero-p2 {
        font-size: 1.1em;
    }
    p {
        font-size: 1em;
    }
    .homeheading2 {
        font-size: 1.8em;
    }
    .homeheading3 {
        font-size: 1.8em;
    }
}
@media(max-width:450px){ 
   .sm-no {
       display: none;
   }
}

.glinky {
    transition: all 0.5s ease-in-out!important;
}
.glinky:hover {
    color: #fff!important;
    background-color: #1A9988!important;
}
/* scroll bar  */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(26, 153, 136, 0.849); 
    border-radius: 5px;
    cursor: grab;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1A9988; 
    width: 7px;
  }


  /* scrool bar ends  */

  @media(max-width:480px){
    .heroh {
        height: 40vh!important;
    }
}
.search::placeholder {
    color: #fff;
}
.search input[type=text] 
{
    
    background: #1A9988;
    border: none!important;
    color: #fff;
}
.search {
    color: #fff!important;
    outline: none!important;
}

.search input[type=text]:focus,.search input[type=text]:hover
{
    outline: none!important;
    border: none!important;
}
.searchbg {
    background: #1A9988;
    border-radius: 12px;
}
.fh {
    height: 20em!important;
    border-top-right-radius: 12px!important;
    border-bottom-right-radius: 12px!important;

}
.c1 {
    background: url(../../pages/img/c1main.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
